<app-header />

<main>
    <ul id="users">
        @for (user of users; track user.id) {
            <li>
                <app-user
                    [user]="user"
                    [selectedUser]="user.id === selectedUser()?.id"
                    (userSelect)="onSelectUser($event)"
                />
            </li>
        }
    </ul>
    <div>
        @if (selectedUser()) {
            <app-tasks [user]="selectedUser()!" />
        } @else {
            <p>No user selected</p>
        }
    </div>
</main>
